* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HERO SECTION */

.hero-container {
  background-image: url(imgs/baked_goods.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-content {
  border: 2px solid red;
}
