* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #585858;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  color: white;
  padding-left: 1rem;
}

.logo-container i {
  font-size: 2rem;
  color: white;
}

/* NAV WRAPPER */
.navbar {
  position: relative;
  background: #585858;
  padding: 1rem;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.4s;
}

/* Menu */
.menu {
  list-style: none;
  padding: 1rem 0;
  margin: 0;

  /* hide by default */
  display: none;
  flex-direction: column;
  gap: 1rem;

  /* THIS IS WHAT MAKES IT DROP DOWN INSTEAD OF EXPAND */
  position: absolute;
  top: 100%; /* drops below the navbar */
  right: 0;
  width: 200px;
  background: #333;
  border: 1px solid #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 99;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* When checkbox is checked */
#menu-toggle:checked ~ .menu {
  display: flex;
}

/* Hamburger turns into X */
/* Targets first child of .hamburger (the first horizontal line in the hamburger menu */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
/* Targets second hamburger menu line */
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
/* =============== HERO SECTION =============== */

.hero-container {
  background-image: url(imgs/baked_goods.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-text {
  margin-left: 2rem;
}

.btn-container {
  margin-top: 2rem;
}

.btn-primary {
  background-color: #933c24;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}

.hero-container button:last-child {
  margin-left: 1rem;
}

/* ===== TOP PRODUCTS ===== */

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px 0;
  margin: 0 auto;
}

.products-section h2 {
  text-align: center;
  margin: 3rem 0;
}

/* ===== CARDS ===== */
.card {
  border: 2px solid #585858;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cost,
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

.item p {
  display: inline-block;
}

.card img {
  border-radius: 4px;
  max-width: 300px;
  width: 100%;
}
